:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-family: 'Courier';
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: grey;
  text-decoration: inherit;
}

a:hover {
  color: white;
  text-shadow:
               0 0 .2rem #fff,
               0 0 10px #fff,
               0 0 21px #fff; 
}

body {
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px var(--neon-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: field;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  box-shadow: 0 0 30px var(--neon-color);
}
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 30px var(--neon-color);
}
button:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

:root {
  --neon-color: #00000;
}

.login {
  --neon-color: #9900ff;
}

.signup {
  --neon-color: #0077ff;
}

.main {
  --neon-color: #009dff;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--neon-color),
    0 0 82px var(--neon-color),
    0 0 92px var(--neon-color),
    0 0 102px var(--neon-color),
    0 0 151px var(--neon-color);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.titles {
  font-family: 'Courier';
  animation: flicker 7.5s infinite alternate;
}

.neon-sign {
  border: 0.2rem solid #fff;
  padding: 0.4em;
  border-radius: 2rem;
  box-shadow:  0 0 .2rem #fff,
               0 0 .2rem #fff,
               0 0 2rem var(--neon-color),
               0 0 0.8rem var(--neon-color),
               0 0 2.8rem var(--neon-color),
               inset 0 0 1.3rem var(--neon-color);
}

.forms {
  top: 50%;
  left: 50%;
  width: 30em;
  height: 30em;
  transform: translate(-50%, -50%);
  position: fixed;
  padding: 18px;
  text-align: center;
}

.song-table {
  margin: 3%;
  text-align: center;
}

.song-table input:focus {
  box-shadow: none;
}

label {
  display: block;
  text-align: left;
  margin-left: 80px;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}

input {
  width: 300px;
  border-radius: 8px;
  height: 30px;
  border-style: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px var(--neon-color);
}